groups:

- name: Basic Alerts
  rules:

  - alert: InstanceDown
    expr: up == 0
    for: 1m
    labels:
      severity: critical
    annotations:
      description: "Instance {{ $labels.instance }} is DOWN."
      summary: "Instance is down"

  - alert: HighCPUUsage
    expr: 100 - (avg by(instance)(irate(node_cpu_seconds_total{mode="idle"}[2m])) * 100) > 85
    for: 3m
    labels:
      severity: warning
    annotations:
      summary: "High CPU Usage"
      description: "CPU usage above 85%"

  - alert: HighMemoryUsage
    expr: (node_memory_MemTotal_bytes - node_memory_MemAvailable_bytes) / node_memory_MemTotal_bytes * 100 > 85
    for: 5m
    labels:
      severity: warning
